services:
  - type: web
    name: hours-declaration
    env: docker
    dockerfilePath: ./Dockerfile
    dockerContext: .
    plan: free
    region: oregon
    healthCheckPath: /
    envVars:
      - key: NODE_ENV
        value: production

